body {
    padding:0px;
    margin:0px;
}

.main {
    position: relative;
    width: 595px;
    height: 600px;
    margin:0px auto;
    background: #F5D174;
}

h1 {
    position: absolute;
    width: 311px;
    height: 53px;
    left: 142px;
    top: 42px;

    font-family: 'Gentium Basic', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000000;

}


p {
    position: absolute;
    width: 531px;
    height: 80px;
    left: 32px;
    top: 96px;

    font-family: 'Gentium Basic', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;

    color: #000000;
}


img {
    position: absolute;
    width: 450px;
    height: 253.12px;
    left: 72px;
    top: 204px;
}


a {
    position:absolute;
    width: 140px;
    height: 23px;
    left: 227px;
    top: 517px;

    font-family: 'Gentium Basic', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;

    color: #2F2B20;
} 

a:link,:visited,:hover {
    text-decoration: none;
}
